PROJECT_NAME=FinTrack
API_V1_STR=/api/v1
SECRET_KEY=change-this-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=postgresql+psycopg://postgres:your_password@localhost:5432/fintrack_db

# Gmail SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_16_char_google_app_password
EMAILS_FROM_EMAIL=your_email@gmail.com
EMAILS_FROM_NAME="FinTrack Personal Finance"
FRONTEND_URL=http://localhost:5173
